// COLORS
$color-primary: #1E71FF;
$color-primary-light: #f5a8ff;
$color-primary-dark: #7e008f;

$color-secondary: #E5E5E5;
$color-secondary-light: #7ffdc7;
$color-secondary-dark: #58b58c;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #2B353E;


$color-white: #fff;
$color-black: #000;
 

// FONT 
$default-font-size: 1.6rem;
$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;